<a routerLink="/" (click)="showForm();">Leave a message!</a>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="showNewMessageForm">
  <div id="wrapperNewMessage">
    <input id="inputTitle" type="text" placeholder="Title" formControlName="title"/>
    <div>
      <textarea id="inputContent" rows="4" cols="50" placeholder="Content" formControlName="content"></textarea>
    </div>
    <div id="wrapperCategory">
      <div id="textCategory">
        Categorie:
      </div>
      <div id="selectCategory" class="custom-select">
        <select class="categoriesDropDown" #item (change)="onSelected(item.value)" id="category" name="category"
                formControlName="category">
          <option id="dropDownItemCategories" *ngFor="let category of categories" value="{{category.slug}}">{{ category.title }}</option>
        </select>
      </div>
    </div>
    <div>
      <button class="button" type="submit">Send it!</button>
    </div>
  </div>
</form>



