
#message{
  border: 1px darkslateblue;
}

hr {
  border: 1px solid #70d7db;
  margin-top: 4px;
  margin-bottom: 1px;
}

#title{
  color: darkslateblue;
  background: #dbf1eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: large;
  border-radius: 4px;
}

#title-link{
  text-decoration: none;
  color: darkslateblue;
}

#content {
  color: darkslateblue;
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#createdAt{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  float: right;
  text-align: center;
  background: #f0fafa;
  width: 20ch;
  border-radius: 10px;
}

#author{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  float: right;
  text-align: center;
  background: #edfffa;
  width: 20ch;
}

::ng-deep markdown p {
  margin: 0;
  padding: 0;
  display: inline; /* Prevents extra spacing */
}

::ng-deep markdown h1
{
  font-size: 1.2rem; /* Adjusts size */
  font-weight: bold; /* Makes it look like normal text */
  margin: 0; /* Removes extra spacing */
}
::ng-deep markdown h2 {
  font-size: 1.1rem; /* Adjusts size */
  font-weight: bold; /* Makes it look like normal text */
  margin: 0; /* Removes extra spacing */
}

::ng-deep markdown h3 {
  font-size: 1rem; /* Adjusts size */
  font-weight: bold; /* Makes it look like normal text */
  margin: 0; /* Removes extra spacing */
}
