
input[type=text] {
  color: darkslateblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: darkslateblue;
  background: #dbf1eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  text-decoration: none;
  font-size: x-large;
}

#username {
  width: 200px;
  height: 20px;
  border: 1px solid aquamarine;
}

#password {
  width: 200px;
  height: 20px;
  border: 1px solid aquamarine;
}

.button {
  background-color: aquamarine; /* Green */
  border: none;
  color: darkslateblue;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
