#messageList {
  clear: both;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 992px) {
  #messageList {
    clear: both;
    width: 60%;
    margin: auto;}
}

@media only screen and (min-width: 992px) {
  #categories {
    clear: both;
    width: 60%;
    min-height: 40px;
    margin: 20px auto auto;
  }
}
