<div id="header">
  <app-header></app-header>
</div>
<div id="topBar">
  <app-login
    (select)="onSelectLogin($event)"
    [showLoginFields]="showLogin"
    id="login"
    *ngIf="!authServive.isLoggedIn()">
    [showLoginFields]="showLoginFields"
  </app-login>
  <app-register
    (select)="onSelectRegister($event)"
    [showRegisterFields]="showRegister"
    id="register"
    *ngIf="!authServive.isLoggedIn()">
  </app-register>
  <app-logout
    id="logout" *ngIf="authServive.isLoggedIn()">
  </app-logout>
  <app-send
    *ngIf="authServive.isLoggedIn()">
  </app-send>
</div>
<div id="messageList">
  <app-messages></app-messages>
</div>

