<div id="header">
  <app-header></app-header>
</div>
<div id="topBar">
  <app-login
    (select)="onSelectLogin()"
    [showLoginFields]="showLogin"
    id="login"
    *ngIf="!sessionService.isLoggedIn()">
  </app-login>
  <app-register
    (select)="onSelectRegister()"
    [showRegisterFields]="showRegister"
    id="register"
    *ngIf="!sessionService.isLoggedIn()">
  </app-register>
  <app-logout
    id="logout" *ngIf="sessionService.isLoggedIn()">
  </app-logout>
  <app-send
    *ngIf="sessionService.isLoggedIn()">
  </app-send>
</div>
<div id="messageList">
  <app-messages></app-messages>
</div>

