
:host{
  width: 100%;
}

#header {
  margin: auto;
}

@media only screen and (min-width: 992px) {
  #header {
    width: 60%;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  #topBar {
    clear: both;
    width: 60%;
    margin: auto;
    min-height: 40px;
  }
}

#topBar {
  width: 100%;
  margin: auto;
  min-height: 40px;
}

@media only screen and (min-width: 992px) {
  #topBar {
    width: 60%;
    margin: auto;
    min-height: 40px;
  }
}


#sendMessage {
  clear: both;
  width: 100%;
  margin: auto;
  align-self: center;
}

#messageList {
  clear: both;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 992px) {
  #messageList {
    clear: both;
    width: 60%;
    margin: auto;}
}

@media only screen and (min-width: 992px) {
  #categories {
    clear: both;
    width: 60%;
    margin: auto;
    min-height: 40px;
    margin-top: 20px;
  }
}

