
#message{
  border: 1px darkslateblue;
}

#title{
  color: darkslateblue;
  background: #dbf1eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: large;
}

#title-link{
  text-decoration: none;
}

#content {
  color: darkslateblue;
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#createdAt{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  float: right;
  text-align: center;
  background: #edfffa;
  width: 20ch;
}

#author{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  float: right;
  text-align: center;
  background: #edfffa;
  width: 20ch;
}
