
tr {
  color: darkslateblue;
  text-align: center;
  background: #dbf1eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title{
  width: 200px;
}
#content{
  width: 400px;
}

#createdAt{
  width: 100px;
}



